@import "global";
.page-about-page {
  .page-title {
    .outer-container {
      h1 {
        
      }
    }
  }
  .content-container {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    .row {
      display: block;
      position: relative;
      flex: 0 0 auto;
      margin-bottom: $spacing-xxl;
      padding: $spacing-xl;
      .outer-container {
        display: flex;
        flex-flow: column nowrap;
        @include devices(ipad) {
          flex-flow: row nowrap;
        }
        .col {
          display: block;
          flex: 0 1 auto;
          width: 100%;
          @include devices(computer) {
            padding: $spacing-xxl;
          }
          h2 {
            position: relative;
            font-size: 1.5rem;
            line-height: 1.75;
            font-weight: 700;
            margin: 0 0 $spacing-s 0;
            span {
              position: relative;
              padding-left: $spacing-xs;
              &:after {
                display: block;
                position: absolute;
                content: '';
                width: 50px;
                height: 100%;
                border: 2px solid $krewe-purple;
                top: 0;
                left: 0;
                z-index: -1;
              }
            }
          }
          .content {
            width: 100%;
            font-size: 1rem;
          }
        }
      }
      &.row-one {
        margin-bottom: 0;
        .outer-container {
          .col {
            align-self: center;
          }
        }
      }
      &.row-two {
        background: #f5f5f5;
        .outer-container {
          @include devices(ipad) {
            flex-flow: column nowrap;
          }
          @include devices(computer) {
            flex-flow: row nowrap;
            justify-content: stretch;
          }
          .col {
            flex: 0 1 auto;
            margin-bottom: $spacing-xl;
            @include devices(computer) {
              margin-bottom: 0;
            }
            .wrapper {
              padding: $spacing-l;
              border: 1px solid #d3d3d3;
              height: 100%;
              svg {
                width: auto;
                height: 75px;
                font-size: 0;
                .fill {
                  fill:#D3D3D3;
                }
              }
              &:hover {
                transition: 300ms all cubic-bezier(0.5, 1, 0.89, 1);
                background-color: $krewe-purple;
                color: $krewe-white;
                svg {
                  .fill {
                    fill: $krewe-white;
                  }
                }
              }
            }
          }
        }
      }
      &.row-three {
        .outer-container {
          justify-content: flex-end;
          @include devices(ipad) {
            flex-flow: row wrap;
          }
          .col-full {
            display: block;
            flex: 0 1 auto;
            width: 100%;
            h2 {
              span {
                position: relative;
                padding-left: $spacing-xs;
                &:after {
                  display: block;
                  position: absolute;
                  content: '';
                  width: 50px;
                  height: 100%;
                  border: 2px solid $krewe-purple;
                  top: 0;
                  left: 0;
                  z-index: -1;
                }
              }
            }
          }
          .col {
            @include devices(ipad) {
              width: 50%;
            }
            img {
              width: 50px;
            }
            &:nth-child(3) {
              text-align: right;
              @include devices(ipad) {
                text-align: left;
              }
            }
          }
        }
      }
      &.row-four {
        background: #f5f5f5;
        .outer-container {
          align-items: center;
          .col {
            ul {
              list-style: none;
              padding: 0;
              margin: 0;
              li {
                font-weight: 700;
              }
            }
            .btn {
              margin: $spacing-m 0;
              @include devices(ipad) {
                margin-bottom: 0;
              }
            }            
          }
        }
      }
      &.row-five {

      }
      &.row-six {
        margin-bottom: 0;
        .outer-container {
          @include devices(ipad) {
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: stretch;
          }
          .col {
            display: flex;
            flex-flow: column nowrap;
            margin-bottom: $spacing-xxl;
            justify-content: space-between;
            padding: 0;
            @include devices(ipad) {
              width: 47.5%;
              text-align: center;
            }
            img {
              flex: 0 1 auto;
              width: 90%;
              height: auto;
              margin: 0 0 $spacing-xl auto;
              margin-top: -2rem;
            }
            .content {
              position: relative;
              flex: 0 1 auto;
              padding: $spacing-l;
              width: 70%;
              background-color: #f5f5f5;
              text-align: left;
              z-index: 2;
              h3 {
                font-size: .7rem;
                line-height: 1.5;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: .1em;
                margin: 0;
              }
              p {
                font-size: 2rem;
                line-height: 1.5;
                font-weight: 700;
              }
            }
            &.button {
              align-self: center;
              align-content: center;
              align-items: center;
              .content {
                margin: 0;
                a {
                  margin-top: $spacing-s;
                }
              }
            }
          }
        }
      }
      &.heading {
        .col {
          width: 100%;
          text-align: center;
          h2 {
            display: inline-block;
          }
        }
      }
      &.image {
        align-items: center;
        .col {
          h3 {
            font-size: 1.25rem;
            line-height: 1.5;
            font-weight: 500;
            text-transform: uppercase;
            text-align: right;
            margin: 0 $spacing-s 0 0;
          }
          iframe {
            width: 100%;
            height: auto;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
        &.image-2 {
          .col {
            order: 1;
            &.title {
              order: 2;
              h3 {
                text-align: left;
                margin: 0 0 0 $spacing-s;
              }
            }
            text-align: right;
          }
        }
      }
      &.button {
        .col {
          width: 100%;
          text-align: center;
          a.btn {
            display: inline-block;
            background: $krewe-orange;
            color: $krewe-white;
          }
        }
      }
    }
  }  
}
