$krewe-black: #020202;
$krewe-white: #ffffff;
$krewe-orange: #ff914d;
$krewe-dark-grey: #6a6c6a;
$krewe-light-grey: #d8d8d8;
$krewe-blue: #0c1d6e;
$krewe-bright-green: #62cf32;
$krewe-purple: #c31fad;
$krewe-dark-green: #4b912c;