@import "colours";
@import "typography";
@import "spacing";
@import "devices";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: $krewe-black;
}
main {
  padding: 49px 0 42px 0;
  @include devices(ipad) {
    padding: 50px 0 0 0;
  }
}
a {
  color: $new-dark-purple;
  transition: 300ms all ease;
  &:hover {
    color: $new-pale-purple;
    transition: 300ms all ease;
  }
}
.outer-container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 $spacing-m;
  text-decoration: none;
  text-align: center;
  color: $krewe-white;
  background-color: $new-dark-purple;
}
.page-title {
  display: block;
  position: relative;
  width: 100%;
  background: $krewe-light-grey;
  .outer-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  h1 {
    display: block;
    flex: 0 1 auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0;
    color: $krewe-black;
    font-size: 2rem;
    line-height: 1.5;
    padding: $spacing-xs;
    @include devices(ipad) {
      font-size: 3rem;
      line-height: 1.5;
      padding: $spacing-xl;
    }
  }
}

.logo-large {
  display: inline-block;
  position: relative;
  width: 280px;
  .rectangle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 75px;
    border: 2px solid $new-dark-purple;
    z-index: 0;
    pointer-events: none;
  }
  span {
    display: block;
    position: relative;
    &.title {
      font-size: 4rem;
      line-height: 1;
      font-weight: 700;
      letter-spacing: -.025em;
      z-index: 1;
      margin-left: $spacing-xs;
      margin-top: .5rem;
    }
    &.sub-title {
      font-size: 1rem;
      line-height: 1;
      margin-top: $spacing-xs;
    }
  }
}

// OVERRIDE TWEEN
body:not(.page-home-page) {
  header {
    opacity: 1!important;
  }
}