@import "colours";
@import "typography";
@import "spacing";
@import "devices";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: $krewe-black;
}
main {
  padding: 49px 0 42px 0;
  @include devices(ipad) {
    padding: 50px 0 0 0;
  }
}
a {
  color: $krewe-purple;
  transition: 300ms all ease;
  &:hover {
    opacity: .8;
    transition: 300ms all ease;
  }
}
.outer-container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 $spacing-m;
  text-decoration: none;
  text-align: center;
  color: $krewe-white;
  background-color: $krewe-purple;
}
.page-title {
  display: block;
  position: relative;
  width: 100%;
  background: $krewe-light-grey;
  .outer-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  h1 {
    display: block;
    flex: 0 1 auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0;
    color: $krewe-black;
    font-size: 2rem;
    line-height: 1.5;
    padding: $spacing-xs;
    @include devices(ipad) {
      font-size: 3rem;
      line-height: 1.5;
      padding: $spacing-xl;
    }
  }
}

// OVERRIDE TWEEN
body:not(.page-home-page) {
  header {
    opacity: 1!important;
  }
}

// OVERRIDE BUTTONS STYLING
a.MuiButton-root {
  border-radius: 0;
}