@import "colours";
@import "typography";
@import "spacing";
@import "devices";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: $krewe-black;
  color: $krewe-white;
}
main {
  padding: 49px 0 42px 0;
  @include devices(ipad) {
    padding: 50px 0 0 0;
  }
}
.outer-container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 $spacing-m;
  text-decoration: none;
  text-align: center;
}
.page-title {
  display: block;
  position: relative;
  width: 100%;
  .outer-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 $spacing-s $spacing-s $spacing-s;
    @include devices(ipad) {
      padding: 0 $spacing-m $spacing-m $spacing-m;
      
    }
  }
  h1 {
    display: block;
    flex: 0 1 auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0;
    background: $krewe-bright-green;
    font-size: 2rem;
    line-height: 1.5;
    padding: $spacing-xs;
    @include devices(ipad) {
      font-size: 3rem;
      line-height: 1.5;
    }
  }
}