@import "global";

header {
  @include devices(ipad) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, .95);
    z-index: 10;
  }
  .outer-container {
    @include devices(ipad) {
      display: flex;
      flex-flow: row nowrap;
      position: relative;
      justify-content: space-between;
      align-items: center;
    }
    .header-title {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: $spacing-s;
      background: rgba(255, 255, 255, .95);
      color: $krewe-black;
      z-index: 10;
      @include devices(ipad) {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        width: unset;
        flex: 0 1 auto;
      }
      a {
        text-decoration: none;
      }
      p {
        margin: 0;
        text-transform: uppercase; 
      }
    }
    nav.main-navigation {
      @include devices(ipad) {
        flex: 0 1 auto;
        padding: $spacing-s;
      }
      button.mobile-toggle {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: $new-dark-purple;
        color: $krewe-white;
        text-transform: uppercase;
        padding: $spacing-s;
        outline: none;
        border: none;
        margin: 0;
        border-radius: 0;
        z-index: 10;
        p {
          margin: 0;
          display: inline-block;
          font-size: 1rem;
          line-height: 1.25;
          vertical-align: middle;
        }
        .burger {
          display: inline-block;
          position: relative;
          width: 30px;
          height: 20px;
          vertical-align: middle;
          margin-left: $spacing-m;
          span {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 1px;
            background: $krewe-white;
            transition: 300ms all ease;
            &:nth-child(2) {
              top: calc(50% - .5px);
            }
            &:nth-child(3) {
              top: calc(100% - 1px);
            }
          }
        }
        @include devices(ipad) {
          display: none;
        }
      }
      .navigation-container {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform-origin: top left;
        transform: rotate(-90deg);
        background: $new-dark-purple;
        z-index: 9;
        transition: 300ms all ease;
        @include devices(ipad) {
          position: relative;
          top: unset;
          left: unset;
          right: unset;
          bottom: unset;
          transform-origin: unset;
          transform: unset;
          background: unset;
          flex: 0 1 auto;
        }
        .inner-container {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          @include devices(ipad) {
            flex-flow: row nowrap;
          }
          a {
            flex: 0 1 auto;
            position: relative;
            color: $krewe-white;
            text-decoration: none;
            font-size: 1.5rem;
            line-height: 1.25;
            margin-bottom: $spacing-s;
            padding: 0 $spacing-xs;
            @include devices(ipad) {
              margin-bottom: 0;
              font-size: 1rem;
              line-height: 1.25;
              color: $krewe-white;
            }
            &:before {
              display: block;
              position: absolute;
              content: '';
              left: 0;
              top: 0;
              bottom: 0;
              width: 0px;
              background: $new-pale-purple;
              z-index: -1;
              transition: 300ms all ease;
              @include devices(ipad) {
                background: $krewe-dark-grey;
              }
            }
            &.active,
            &:hover {
              &:before {
                width: 50px;
                transition: 300ms all ease;
                z-index: -1;
                @include devices(ipad) {
                  width: 30px;
                }
              }
            }
            &.active {
              &:hover {
                &:before {
                  background: $new-blue;
                }
              }
            }
          }
        }
      }
      &.active {
        button.mobile-toggle {
          .burger {
            span {
              transition: 300ms all ease;
              &:first-child {
              transform: rotate(-45deg);
              top: -ms-calc(50% - .5px);
              top: calc(50% - .5px);
              }
              &:nth-child(2) {
                transform: rotate(45deg);
              }
              &:nth-child(3) {
                width: 0px;
              }
            }
          }
        }
        .navigation-container {
          transform: rotate(0);
          transition: 300ms all ease;
        }
      }
    }
  }
}