@import "global";

#page-work-page {
  .row-container {
    display: flex;
    flex-flow: column nowrap;
    @include devices(ipad) {
      flex-flow: row wrap;
    }
    .row {
      display: block;
      position: relative;
      flex: 0 1 auto;
      width: 100%;
      padding: $spacing-s;
      @include devices(ipad) {
        padding: $spacing-xl;
        width: 33.333%;
      }
      .outer-container {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        .col {
          display: block;
          flex: 0 1 auto;
          img {
            display: block;
            width: 100%;
            height: auto;
            font-size: 0;
          }
          h3 {
            display: block;
            text-align: center;
            background: #e6e6e6;
            margin: 0;
            padding: $spacing-s;
          }
          &.content {
            flex: none;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: 300ms all ease;
            z-index: 2;
            .inner {
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-items: center;
              align-content: center;
              width: 100%;
              height: 100%;
              background: #e6e6e6;  
              overflow-x: hidden;
              overflow-y: scroll;
              padding: $spacing-m;
              p {
                display: block;
                margin: $spacing-s;
                text-align: center;
                strong {
                  display: block;
                  margin: 0 0 $spacing-xs 0;
                }
              }
              .btn {
                margin-top: $spacing-l;
              }
            }
          }
        }
        &:hover {
          .content {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transition: 300ms all ease;
          }
        }
      }
    }
  }
  .row-three {
    display: block;
    position: relative;
    width: 100%;
    padding: $spacing-s;
    @include devices(ipad) {
      padding: $spacing-xl;
    }
    .outer-container {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      .col {
        display: block;
        flex: 0 1 auto;
        padding: $spacing-s;
        @include devices(ipad) {
          padding: $spacing-xl;
        }
      }
    }
  }
}