@import "global";

#page-individual-work-page {
  .row-one {
    display: block;
    position: relative;
    width: 100%;
    padding: $spacing-s;
    @include devices(ipad) {
      padding: $spacing-xl;
    }
    .outer-container {
      display: flex;
      flex-flow: column nowrap;
      .col {
        display: block;
        flex: 0 1 auto;
      }
    }
  }
  .row-two,
  .row-three,
  .row-four,
  .row-five,
  .row-six,
  .row-seven,
  .row-eight {
    display: block;
    position: relative;
    width: 100%;
    padding: $spacing-s;
    @include devices(ipad) {
      padding: $spacing-xl;
    }
    .outer-container {
      display: flex;
      flex-flow: column nowrap;
      position: relative;
      @include devices(ipad) {
        flex-flow: row nowrap;
      }
      .col-one {
        display: block;
        flex: 0 1 auto;
        @include devices(ipad) {
          width: 50%;
          padding: $spacing-xl;
        }
        h3 {
          background: #e6e6e6;
          text-align: center;
          margin: 0;
          padding: $spacing-s;
          @include devices(ipad) {
            display: none;
          }
        }
      }
      .col-two {
        flex: none;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: 300ms all ease;
        z-index: 2;
        @include devices(ipad) {
          flex: 0 1 auto;
          position: relative;
          left: unset;
          top: unset;
          right: unset;
          bottom: unset;
          height: auto;
          width: 50%;
          left: auto;
          visibility: visible;
          opacity: 1;
          pointer-events: all;
          z-index: unset;
        }
        .inner {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          background: #e6e6e6;  
          overflow-x: hidden;
          overflow-y: scroll;
          padding: $spacing-m;
          @include devices(ipad) {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-content: center;
          }
          h3 {
            display: block;
            position: relative;
            padding-left: $spacing-xs;
            z-index: 5;
            &:after {
              display: block;
              position: absolute;
              content: '';
              width: 30px;
              height: 100%;
              border: 2px solid $krewe-purple;
              top: 0;
              left: 0;
              z-index: -1;
            }
          }
          @include devices(ipad) {
            background: none;
            padding: $spacing-xl;
          }
          .content {
            display: block;
          }
        }
      }
      &.active {
        .col-two {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
          transition: 300ms all ease;
        }
      }
    }
  }
  .row-three,
  .row-five,
  .row-seven {
    .col-one {
      @include devices(ipad) {
        order: 2;
      }
    }
    .col-two {
      @include devices(ipad) {
        order: 1;
      }
    }
  }
  .row-nine {
    display: block;
    position: relative;
    width: 100%;
    .outer-container {
      display: flex;
      flex-flow: column nowrap;
      .col-one {
        display: block;
        flex: 0 1 auto;
        text-align: right;
        padding: $spacing-s;
        @include devices(ipad) {
          padding: $spacing-xl;
        }
        .btn {
          width: 100%;
          @include devices(ipad) {
            width: auto;
            margin: 0 0 0 $spacing-s;
          }
        }
      }
    }
  }
}